@{
    ViewData["Title"] = "Home Page";
}

<div class="home-elements-align">
    <h1 class="display-3">Fitness Pro</h1>
    <h1 class="display-10">Naver Give Up</h1>
    <br />
    <br />
    <div class="col">
        <a asp-controller="Workout" asp-action="Index" class="btn btn-primary btn-lg">Workout List</a>
        <a asp-controller="CheatMeal" asp-action="Index" class="btn btn-primary btn-lg">Cheat Meal List</a>
    </div>
    <br />
    <div class="col">
        <a asp-controller="Workout" asp-action="Create" class="btn btn-primary btn-lg">Add Workout</a>
        <a asp-controller="CheatMeal" asp-action="Create" class="btn btn-primary btn-lg">Add Cheat Meal</a>
    </div>
    <br />
    <div class="col text-center">
        <a asp-controller="Report" asp-action="Generate" class="btn btn-primary btn-lg">Generate Report</a>
    </div>
</div>
