@using static FitnessProWebApp.Models.Workout;
@model Workout

@{
    ViewData["Title"] = "Edit";
}

<form method="post">
    <fieldset>
        <input asp-for="WorkoutId" hidden />
        <div class="row pb-2">
            <h2 class="text-primary">Edit Workout</h2>
            <hr />
        </div>
        <div asp-validation-summary="All"></div>
        <div class="form-group">
            <label asp-for="WorkoutName" class="form-label mt-4"></label>
            <select asp-for="WorkoutName" class="form-select">
                <option>Running</option>
                <option>Swimming</option>
                <option>Cycling</option>
                <option>PushUps</option>
                <option>Weight Lifting</option>
                <option>Squats</option>
            </select>
        </div>
        <br />
        <div class="form-group">
            <label asp-for="CreatedDate"></label>
            <input asp-for="CreatedDate" class="form-control" textmode="DateTime" />
            <span asp-validation-for="CreatedDate" class="text-danger"></span>
        </div>
        <br />
        <div class="form-group">
            <label asp-for="WorkoutDuration"></label>
            <input asp-for="WorkoutDuration" class="form-control" />
            <span asp-validation-for="WorkoutDuration" class="text-danger"></span>
        </div>
        <br />
        <button type="submit" class="btn btn-primary">Edit</button>
        <a asp-controller="Workout" asp-action="Index" class="btn btn-secondary">Back</a>
    </fieldset>
</form>

@section Scripts{
	@{
		<partial name="_ValidationScriptsPartial" />
	}
}

